* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
  background-color: transparent;
  position: absolute;
}
div.container {
  display: flex;
  justify-content: center;
}

#setlocation {
  padding-right: 23px;
}
p {
  padding-right: 16px;
  text-decoration: none;
  text-align: center;
  line-height: 1.5;
}
button {
  margin-top: 15px;
  cursor: pointer;
}
.button {
  height: 35px;
  width: 105px;
  border-radius: 30px;
  background-color: black;
  border: none;
  color: white;
}

.setloctiondivider {
  margin: 0;
  border-top: 90px solid #dbdbdb;
}
div.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.headerLogoMobile {
  padding-left: 100px;
  padding-top: 40px;
}
#kfclogo {
  width: 100px;
  height: auto;
  cursor: pointer;
}
a {
  align-items: flex-start;
  text-decoration: none;
  white-space: pre;
  font-family: "National2-Medium";
  padding: 0 15px;
  font-weight: 500;
  font-size: 21px;
  line-height: 24px;
  color: #202124;
}
a {
  padding-top: 40px;
  padding-right: 50px;
}
#account-icon {
  padding-left: 600px;
  padding-top: 40px;
}
#signup {
  padding-top: 46px;
}
.headerBottom {
  display: flex;
  width: 100%;
  bottom: 0;
  z-index: 1;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  padding: 5px;
  justify-content: center;
}
.headerBottom .headBottomParent .headBottomTxt {
  font-size: 20px;
  line-height: 150px;
  letter-spacing: 1px;
}
.headBottomParent .headBottomTxt {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #fff;
  margin: auto 15px auto auto;
}
#startorder-container {
  background-color: #202124;
}
.redButton {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #dbdbdb;
  background-color: red;
  align-items: center;
  border-radius: 70px;
  width: 294px;
  height: 61px;
  margin-left: 126px;
}
div.main {
  width: 100%;
  height: auto;
}
#allu {
  width: 100%;
  height: auto;
}
.pastorder-container {
  background: whitesmoke;
  display: flex;
}
.pastorder-left-container {
  margin-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: whitesmoke;
}
.pastorder-stripes {
  width: 50px;
  height: 30px;
  background: repeating-linear-gradient(
    90deg,
    #e4002b,
    #e4002b 8px,
    #fff 0,
    #fff 16px
  );
}
.pastorder-greeting-heading {
  width: 100%;
  font-size: 31px;
  line-height: 80px;
  text-align: center;
  font-family: Tahoma;
  letter-spacing: 1px;
}
.general-menu-container {
  padding: 3%;
  margin-left: 22px;
  margin-right: 21px;
}
.general-menu-container .browse-parent {
  padding-left: 0px;
  padding-right: 0px;
}
.general-menu-container .browse-parent .browse {
  font-size: 21px;
  margin-top: 60.09px;
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.horizontal-line {
  width: 70%;
  margin-left: 240px;
  border-top: 2px solid #e3e3e3;
  margin-top: -29px;
  margin-right: 9%;
}
.general-menu-container .menu-cards {
  height: fit-content;
  width: 29%;
  margin: 2%;
  color: #202124;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  text-decoration-line: none;
  cursor: pointer;
  display: inline-grid;
  text-align: inherit;
}

img svg {
  align-items: center;
  vertical-align: middle;
}

.general-menu-container .menu-cards img {
  width: 79%;
  height: 21.85185vw;
  object-fit: contain;
  /* border-radius: 60px 5px 0 0; */
}
.offers-container {
  background-color: #202124;
  overflow: hidden;
  margin-top: 90px;
}
.offers-container .offersCard-container {
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#offer-Ic {
  width: 150px;
  height: 63px;
  margin-left: 300px;
}
.offersContainerHeader-items {
  display: flex;
  background-color: transparent;
  color: #fff;
  align-items: center;
  margin-bottom: 40px;
  margin-left: 3.2%;
  justify-content: space-around;
}
.offersContainer-header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 38px;
  line-height: 43px;
  font-weight: 700;
}
.offersViewAll-link {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  cursor: pointer;
}
.scroll-img {
  width: auto;
  height: inherit;
  border-radius: 10px;
  display: inline-flex;
  justify-content: space-around;
  margin-left: 100px;
}
.scroll1 {
  width: 20%;
  height: auto;
  cursor: pointer;
}
.site-footer nonlocalized-footer {
  width: 100%;
  height: auto;
  background-color: #202124;
}
#footer {
  width: 100%;
  height: inherit;
  cursor: pointer;
}
.horizontal-line-footer {
  width: 100%;
  border-top: 10px solid #e3e3e3;
  margin-top: 20px;
  margin-right: 9%;
}
